* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

// SIDEBAR CONTAINER START
.sideBar {
	position: fixed;
	top: 50%;
	left: 50%;
	right: 0%;
	bottom: 0%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	z-index: 99999;
	display: none;
	opacity: 0;
	transition: 2s;
}

#closeSidebar {
	padding-top: 18px;
	padding-right: 10px;
  cursor: pointer;
}
// SIDEBAR CONTAINER END

.blackBG {
  background: #000;
}

// HEADER START
.headerContainer {
  height: 70px;

  input:focus {
    outline: none;
  }
}

.searhField {
  background-color: #f0f2f5;
  border-radius: 50px;
  padding: 0rem 1.5rem 0rem 2.3rem;
}
.searchIcon {
  top: 50%;
  left: 8%;
  transform: translateY(-50%);

  i {
    color: #cccc;
  }
}

.centerIcons {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.placeholderImg {
  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}

.iconBg {
  background-color: #e4e6eb;
  padding: 8px 12px;
}


.logo{
  width: 18%;
}

@media screen and (max-width: 768px) {
.logo{
  width: 90%;
}  
}

.logoM{width: 45px;}
// HEADER END

// BODY DESKTOP START
.iconBg2 {
  background-color: #e4e6eb;
  padding: 4px 6px;
}

.placeholderImg2 {
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}

.fullHeight {
  height: 92vh;
}

.storyfullHeight{
  height: 100vh;
}

.creatPhoto {
  cursor: pointer;
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y7/r/EO1ss3ZHvcD.png?_nc_eui2=AeHKkBe28eQ9qtplAze133zce09gZrPfSR57T2Bms99JHojjTMwDB34H2N5GUBFhZN76ffZqu-uIU-D2N7hYmqD_);
  background-position: 0px 0px;
  background-size: auto;
  width: 220px;
  height: 330px;
  background-repeat: no-repeat;
}

.createText {
  cursor: pointer;
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y7/r/EO1ss3ZHvcD.png?_nc_eui2=AeHKkBe28eQ9qtplAze133zce09gZrPfSR57T2Bms99JHojjTMwDB34H2N5GUBFhZN76ffZqu-uIU-D2N7hYmqD_);
  background-position: 0px -331px;
  background-size: auto;
  width: 220px;
  height: 330px;
  background-repeat: no-repeat;
}

.createText:hover,
.creatPhoto:hover {
  filter: brightness(98%);
}

.picIcon {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yQ/r/4QNFoN4aBJ1.png?_nc_eui2=AeGBXnZ7yaBQiSb2518P0o1MHM_D-cRPnNkcz8P5xE-c2cdJlzrywqMycAQAoXUbaCuhgPQSFVwaR8DD_zblhP83);
  background-position: 0px -325px;
  background-size: auto;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}

.textIcon2Cont {
  background-color: rgb(231, 231, 231);
  padding: 6px 8px 2px 8px;
  border-radius: 50%;
}

.textIcon2 {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y7/r/EO1ss3ZHvcD.png?_nc_eui2=AeHKkBe28eQ9qtplAze133zce09gZrPfSR57T2Bms99JHojjTMwDB34H2N5GUBFhZN76ffZqu-uIU-D2N7hYmqD_);
  background-position: 0px -662px;
  background-size: auto;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}

.textIcon {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y7/r/EO1ss3ZHvcD.png?_nc_eui2=AeHKkBe28eQ9qtplAze133zce09gZrPfSR57T2Bms99JHojjTMwDB34H2N5GUBFhZN76ffZqu-uIU-D2N7hYmqD_);
  background-position: 0px -662px;
  background-size: auto;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}

.cardIconCont {
  background-color: #fff;
  padding: 0.5rem 0.6rem 0.2rem 0.6rem;
  border-radius: 50%;
  box-shadow: 1px 3px 10px #6d6d6d;
}

.shareBtn{
  left: 0%;
  bottom: 0%;

  button:nth-child(1) {
    background: #e4e6eb;
    width: 40%;
  }
  button:nth-child(2) {
    background: #1877f2;
    width: 60%;
  }
}

.textWrite{
    height: 92%;
    width: 90%;

  .darkSection{
    width: 100%;
    height: 95.5%;
    background: #18191a;

    .typeImg {
      width: 340px;
      height: 100%;
      margin: auto;
      padding:  1rem 0rem;

      img {
        width: 100%;
        height: 100%;
        border-radius: 12px;
      }

      .typeText{
        position: absolute;
        left: 50%;
        top: 0%;
        transform: translateX(-50%);
            width: 100%;
          height: 100%;
        display: flex;
        padding: 4rem 0rem;


        textarea {
          background: transparent;
          border: none;
          resize: none; 
          font-size: 2.2rem;
          color: #fff;
          text-align: center;
          font-weight: 900;
          letter-spacing: 2px;
          width: 95%;
          height: 100%;
          overflow: hidden;
          margin: auto;


          &:focus {
            outline: none;
          }

          &::placeholder {
            color: #fff;
          }
        }
      }
    }
  }
}
// BODY DESKTOP END

// BODY MOBILE START
.storyCardMobile {
  width: 90px;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  margin-right: 15px;

  img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
}

.textWrite2{
    height: 100%;
    width: 100%;

  .darkSection{
    width: 100%;
    height: 95.5%;
    background: #18191a;

    .typeImg {
      width: 90%;
      height: 100%;
      margin: auto;
      padding:  1rem 0rem;

      img {
        width: 100%;
        height: 100%;
        border-radius: 12px;
      }

      .typeText{
        position: absolute;
        left: 50%;
        top: 0%;
        transform: translateX(-50%);
            width: 100%;
          height: 100%;
        display: flex;
        padding: 4rem 0rem;


        textarea {
          background: transparent;
          border: none;
          resize: none; 
          font-size: 2.2rem;
          color: #fff;
          text-align: center;
          font-weight: 900;
          letter-spacing: 2px;
          width: 95%;
          height: 100%;
          overflow: hidden;
          margin: auto;


          &:focus {
            outline: none;
          }

          &::placeholder {
            color: #fff;
          }
        }
      }
    }
  }

  }
// BODY MOBILE END

// STORIES PAGE START
.crossICon {
  background-color: rgba(0,0,0,0.4);
  padding: 0.4rem 0.7rem;
}

.storyBg{
  background-color: rgba(0,0,0,0.1);
}

.plusIcon{
  background-color: #1876f22d;
  padding: 0.7rem 0.9rem;
  
  i { 
    color: #1877f2;
  }
}

.lightBorder {
  border: 2px solid #cecece;
  padding: 2px;
}

.blueBorder {
  border: 2px solid #1877f2;
  padding: 2px;
}

.storyDetails {
  height: 130px;
  width: 100px;
  
  img {
    height: 100%;
    width: 100%;
  }

    h6 {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 0.6rem;
    }

  }
  .placeholderStory{
    background: #f1f3f4;
    height:120px;


    .createStory {
    width: 40px;
    margin: auto;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;

  
      i {
        color: #1877f2;
      }
    }
  }

/* slick slider start */
.main_slide_div {
  width: 100%;
  // max-width: 400px !important;
  /* border: 1px solid; */
}
.slider {
  text-align: center;
  max-width: 500px !important;
}

.scroll-img-list {
  display: inline-block;
  height: 100%;
  max-width: 380px;
  border-radius: 6px;
  margin: auto !important;

  img {
    width: 100%;
    height: 100%;
  }

  .topLine{
    height: 6px;
    background: rgba(255, 255, 255, 0.596);
    width: 100%;
    border-radius: 50px;

    .innerLineTop {
          height: 6px;
    background: rgb(255, 255, 255);
    width: 30%;
    border-radius: 50px;
    }


  }

  .placeholderImg2{
    img {
      width: 40px;
      height: 40px;
    }
  }

  .sliderTop {
    top: 0%
  }

      .textIncenter{
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
}

.slick-prev {
  z-index: 9999;
}

.slick-next:before, .slick-prev:before {
  font-size: 35px !important;
}

.slick-prev {
    left: 60px !important;
}

.slick-next {
    right: 60px !important;
}

// .slick-next,
// .slick-prev {
//   cursor: pointer;
//   font-size: 25px;
//   line-height: 0.9;
//   border-radius: 3px;
//   padding: 6px;
//   border-radius: 50%;
//   border: none;
//   background-color: #fff;
// }

// .slick-prev  {
//   position: absolute;
//   left: -3.5%;
//   top: 50%;
//   z-index: 1;
//   transform: translateY(-50%);
// }
// .slick-next {
//   position: absolute;
//   right: 0%;
//   top: 50%;
//   z-index: 1;
//   transform: translateY(-50%);
// }

// /* SLIDER END */
// .slick-next:before {  
//   content: "→";
//   color: black;
//   font-size: 30px;
// }
// /* slick slider end */
// .slick-prev:before {
//   content: "←";
//   color: black;
//   font-size: 30px;
//   display: inline-block;
//   margin-left: -9px;
// }
  // STORIES PAGE END
