* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.sideBar {
  position: fixed;
  top: 50%;
  left: 50%;
  right: 0%;
  bottom: 0%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 99999;
  display: none;
  opacity: 0;
  -webkit-transition: 2s;
  transition: 2s;
}

#closeSidebar {
  padding-top: 18px;
  padding-right: 10px;
  cursor: pointer;
}

.headerContainer {
  height: 70px;
}

.headerContainer input:focus {
  outline: none;
}

.searhField {
  background-color: #f0f2f5;
  border-radius: 50px;
  padding: 0rem 1.5rem 0rem 2.3rem;
}

.searchIcon {
  top: 50%;
  left: 8%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.searchIcon i {
  color: #cccc;
}

.centerIcons {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.placeholderImg img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.iconBg {
  background-color: #e4e6eb;
  padding: 8px 12px;
}

.logo {
  width: 18%;
}

@media screen and (max-width: 768px) {
  .logo {
    width: 90%;
  }
}

.iconBg2 {
  background-color: #e4e6eb;
  padding: 4px 6px;
}

.placeholderImg2 img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.fullHeight {
  height: 92vh;
}

.creatPhoto {
  cursor: pointer;
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y7/r/EO1ss3ZHvcD.png?_nc_eui2=AeHKkBe28eQ9qtplAze133zce09gZrPfSR57T2Bms99JHojjTMwDB34H2N5GUBFhZN76ffZqu-uIU-D2N7hYmqD_);
  background-position: 0px 0px;
  background-size: auto;
  width: 220px;
  height: 330px;
  background-repeat: no-repeat;
}

.createText {
  cursor: pointer;
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y7/r/EO1ss3ZHvcD.png?_nc_eui2=AeHKkBe28eQ9qtplAze133zce09gZrPfSR57T2Bms99JHojjTMwDB34H2N5GUBFhZN76ffZqu-uIU-D2N7hYmqD_);
  background-position: 0px -331px;
  background-size: auto;
  width: 220px;
  height: 330px;
  background-repeat: no-repeat;
}

.createText:hover,
.creatPhoto:hover {
  -webkit-filter: brightness(98%);
          filter: brightness(98%);
}

.picIcon {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yQ/r/4QNFoN4aBJ1.png?_nc_eui2=AeGBXnZ7yaBQiSb2518P0o1MHM_D-cRPnNkcz8P5xE-c2cdJlzrywqMycAQAoXUbaCuhgPQSFVwaR8DD_zblhP83);
  background-position: 0px -325px;
  background-size: auto;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}

.textIcon2Cont {
  background-color: #e7e7e7;
  padding: 6px 8px 2px 8px;
  border-radius: 50%;
}

.textIcon2 {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y7/r/EO1ss3ZHvcD.png?_nc_eui2=AeHKkBe28eQ9qtplAze133zce09gZrPfSR57T2Bms99JHojjTMwDB34H2N5GUBFhZN76ffZqu-uIU-D2N7hYmqD_);
  background-position: 0px -662px;
  background-size: auto;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}

.textIcon {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y7/r/EO1ss3ZHvcD.png?_nc_eui2=AeHKkBe28eQ9qtplAze133zce09gZrPfSR57T2Bms99JHojjTMwDB34H2N5GUBFhZN76ffZqu-uIU-D2N7hYmqD_);
  background-position: 0px -662px;
  background-size: auto;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}

.cardIconCont {
  background-color: #fff;
  padding: 0.5rem 0.6rem 0.2rem 0.6rem;
  border-radius: 50%;
  -webkit-box-shadow: 1px 3px 10px #6d6d6d;
          box-shadow: 1px 3px 10px #6d6d6d;
}

.shareBtn {
  left: 0%;
  bottom: 0%;
}

.shareBtn button:nth-child(1) {
  background: #e4e6eb;
  width: 40%;
}

.shareBtn button:nth-child(2) {
  background: #1877f2;
  width: 60%;
}

.textWrite {
  height: 92%;
  width: 90%;
}

.textWrite .darkSection {
  width: 100%;
  height: 95.5%;
  background: #18191a;
}

.textWrite .darkSection .typeImg {
  width: 340px;
  height: 100%;
  margin: auto;
  padding: 1rem 0rem;
}

.textWrite .darkSection .typeImg img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.textWrite .darkSection .typeImg .typeText {
  position: absolute;
  left: 50%;
  top: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4rem 0rem;
}

.textWrite .darkSection .typeImg .typeText textarea {
  background: transparent;
  border: none;
  resize: none;
  font-size: 2.2rem;
  color: #fff;
  text-align: center;
  font-weight: 900;
  letter-spacing: 2px;
  width: 95%;
  height: 100%;
  overflow: hidden;
  margin: auto;
}

.textWrite .darkSection .typeImg .typeText textarea:focus {
  outline: none;
}

.textWrite .darkSection .typeImg .typeText textarea::-webkit-input-placeholder {
  color: #fff;
}

.textWrite .darkSection .typeImg .typeText textarea:-ms-input-placeholder {
  color: #fff;
}

.textWrite .darkSection .typeImg .typeText textarea::-ms-input-placeholder {
  color: #fff;
}

.textWrite .darkSection .typeImg .typeText textarea::placeholder {
  color: #fff;
}

.storyCardMobile {
  width: 90px;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  margin-right: 15px;
}

.storyCardMobile img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.textWrite2 {
  height: 100%;
  width: 100%;
}

.textWrite2 .darkSection {
  width: 100%;
  height: 95.5%;
  background: #18191a;
}

.textWrite2 .darkSection .typeImg {
  width: 90%;
  height: 100%;
  margin: auto;
  padding: 1rem 0rem;
}

.textWrite2 .darkSection .typeImg img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.textWrite2 .darkSection .typeImg .typeText {
  position: absolute;
  left: 50%;
  top: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4rem 0rem;
}

.textWrite2 .darkSection .typeImg .typeText textarea {
  background: transparent;
  border: none;
  resize: none;
  font-size: 2.2rem;
  color: #fff;
  text-align: center;
  font-weight: 900;
  letter-spacing: 2px;
  width: 95%;
  height: 100%;
  overflow: hidden;
  margin: auto;
}

.textWrite2 .darkSection .typeImg .typeText textarea:focus {
  outline: none;
}

.textWrite2 .darkSection .typeImg .typeText textarea::-webkit-input-placeholder {
  color: #fff;
}

.textWrite2 .darkSection .typeImg .typeText textarea:-ms-input-placeholder {
  color: #fff;
}

.textWrite2 .darkSection .typeImg .typeText textarea::-ms-input-placeholder {
  color: #fff;
}

.textWrite2 .darkSection .typeImg .typeText textarea::placeholder {
  color: #fff;
}
/*# sourceMappingURL=style.css.map */